<html>
<head>
  <title>Hacker News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/sidebar.css">
  <link rel="stylesheet" href="../css/core.css">
  <script type="text/babel" src="../js/fetch.js"></script>
  <script src="../js/jquery.min.js"></script>
  <!-- <script src="../js/react-bootstrap.min.js"></script> -->
  <script src="../js/react.min.js"></script>
  <script src="../js/react-dom.min.js"></script>
  <script src="../js/react-dom-server.min.js"></script>
  <script src="../js/browser.min.js"></script>
</head>
<body>
  <div id="wrapper">
    <!-- <div id="page-content-wrapper">
      <div id="overlay1">
        <center>
         <img class="img-responsive" style="margin-top:22%;" src="images/728.gif">
       </center>
      </div>
      <h2 id="heading"> Welcome to Hacker News</h2>
      <a href="#menu-toggle" class="btn btn-default" data-spy="affix" id="menu-toggle"><span class="glyphicon glyphicon-list"></span> Menu</a>
      <br>
      <div class="container" id="post-list">
      </div>
    </div> -->
  </div>
</body>
</html>
